/*#region Footer*/
body::after
{
    content: "";
    height: 60px;
}

footer
{
    font-size: 14px;
    margin-left: 5%;
    margin-right: 5%;
    width: fit-content;
    bottom: 0;
    height: 60px;
}

footer > *
{
    text-decoration: none;
    top: 40%;
    position: relative;
}
/*#endregion*/